{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}



<div class="container">

    <div class="row d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-danger"></i>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form action="{{ path('app_login') }}" method="post">

                        <div class="row mb-3">
                            <label for="username" class="col-md-2 col-form-label">Email</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="username" name="_username">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="username" class="col-md-2 col-form-label">Password</label>
                            <div class="col-md-10">
                                <input class="form-control" type="password" id="password" name="_password">
                            </div>
                        </div>


                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}